<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Boost Juice Shifts</h5>
          <h6 class="card-subtitle mb-2 text-muted" style="text-transform: none;">Hourly rate - $22</h6>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th class="pl-0">Name</th>
                <th>Shift date</th>
                <th>Start time</th>
                <th>Finish time</th>
                <th>Break length (minutes)</th>
                <th>Hours worked</th>
                <th>Shift cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">Justin Kim</td>
                <td>5/02/2019</td>
                <td>10:15 am</td>
                <td>1:30 pm</td>
                <td>0</td>
                <td>3.25</td>
                <td>$32.50</td>
              </tr>
               <tr>
                <td class="pl-0">Yeunji Cho</td>
                <td>5/02/2019</td>
                <td>10:15 am</td>
                <td>1:30 pm</td>
                <td>0</td>
                <td>3.25</td>
                <td>$32.50</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>